@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.Rendering;
@inject SignInManager<ApplicationUser> _signInManager;

<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Mazi ifeanyi Nwosu Igbo Academy</title>
    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />
    <!--  Social tags      -->

    <meta name="twitter:site" content="@@OnyeijeIgbAcademy">

    <meta property="fb:app_id" content="655968634437471">

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="../../assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="../../assets/vendor/%40fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="../../assets/css/argon.min9f1e.css?v=1.1.0" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/countrypicker.js"></script>
    <script src="~/js/countrypicker.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '../../../../www.googletagmanager.com/gtm5445.html?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Sidenav -->
    <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header d-flex align-items-center">
                <a class="navbar-brand" asp-action="AdminDashboard" asp-controller="Dashboard">
                    <img src="~/images/onyeijemedia/coollogo_com-11655827.gif"  height="50" class="navbar-brand-img" alt="..." asp-append-version="true">
                </a>
                <div class="ml-auto">

                </div>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                   
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " asp-action="AdminDashboard" asp-controller="Dashboard">
                                <i class="ni ni-shop text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#courses" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-examples">
                                <i class="ni ni-ungroup text-orange"></i>
                                <span class="nav-link-text">Course</span>
                            </a>
                            <div class="collapse" id="courses">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Courses" class="nav-link">Create Course</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Courses" class="nav-link">View All Courses</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Topics" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-components">
                                <i class="ni ni-ui-04 text-info"></i>
                                <span class="nav-link-text">Topics</span>
                            </a>
                            <div class="collapse" id="Topics">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Topics" class="nav-link">Create Topics</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Topics" class="nav-link">View list</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Quiz" class="nav-link">View Topic Questions</a>
                                    </li>

                                    <li class="nav-item">
                                        <a asp-action="CreateTopicQuiz" asp-controller="Quiz" class="nav-link">Create Topic Quiz</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="TopicFiles" class="nav-link">Upload Topic Files</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Modules" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-forms">
                                <i class="ni ni-single-copy-04 text-pink"></i>
                                <span class="nav-link-text">Modules</span>
                            </a>
                            <div class="collapse" id="Modules">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Modules" class="nav-link">Create Modules</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Instructors" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-tables">
                                <i class="ni ni-align-left-2 text-default"></i>
                                <span class="nav-link-text">Instructors</span>
                            </a>
                            <div class="collapse" id="Instructors">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Instructors" class="nav-link">Create Instructor</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Instructors" class="nav-link">View list of instructors</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="AssigninstructorToCourse" asp-controller="Instructor" class="nav-link">Assign Instructor to Course</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#asignment" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-maps">
                                <i class="ni ni-map-big text-primary"></i>
                                <span class="nav-link-text">Reports</span>
                            </a>
                            <div class="collapse" id="asignment">
                                <ul class="nav nav-sm flex-column">
                                  
                                    <li class="nav-item">
                                        <a asp-action="CourseReport" asp-controller="Report" class="nav-link">Course Report</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Assignment" class="nav-link">Course Subscription Report</a>
                                    </li>
                                 
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#administration" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navbar-maps">
                                <i class="ni ni-ungroup text-orange"></i>
                                <span class="nav-link-text">Administration</span>
                            </a>
                            <div class="collapse" id="administration">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a asp-action="Create" asp-controller="Assignment" class="nav-link">Role Based Authorization</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-action="Index" asp-controller="Assignment" class="nav-link">CLaim based Policy Authorization</a>
                                    </li>
                                   
                                </ul>
                            </div>
                        </li>
                    </ul>

                            <hr class="my-3">
                       
                    
                    <!-- Divider -->
                    <!-- Heading -->

                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
               
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center ml-md-auto">
                     

                      
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ni ni-ungroup"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right">
                                <div class="row shortcuts px-4">
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-red">
                                            <i class="ni ni-calendar-grid-58"></i>
                                        </span>
                                        <small>Calendar</small>
                                    </a>

                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-info">
                                            <i class="ni ni-credit-card"></i>
                                        </span>
                                        <small>Payments</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                                            <i class="ni ni-books"></i>
                                        </span>
                                        <small>Reports</small>
                                    </a>
                                    <a href="#!" class="col-4 shortcut-item">
                                        <span class="shortcut-media avatar rounded-circle bg-gradient-green">
                                            <i class="ni ni-books"></i>
                                        </span>
                                        <small>Students</small>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder" src="~/images/onyeijemedia/profile.png" asp-append-version="true">
                                    </span>
                                    <div class="media-body ml-2 d-none d-lg-block">
                                     
                                            <span class="mb-0 text-sm  font-weight-bold">@User.Identity.Name.ToLower()</span>
                                        
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a asp-action="Profiles" asp-controller="Profile" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>My profile</span>
                                </a>
                                <a asp-action="ChangePassword" asp-controller="Account" class="dropdown-item">
                                    <i class="ni ni-settings-gear-65"></i>
                                    <span>Change Password</span>
                                </a>
                             
                          
                                <div class="dropdown-divider"></div>
                                <a asp-action="Logout" asp-controller="Account" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



        @RenderBody()

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)

        }

    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="~/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/assets/vendor/quill/dist/quill.min.js"></script>
    <script src="~/assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>
    <script src="../../assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="../../assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="../../assets/vendor/nouislider/distribute/nouislider.min.js"></script>
    <script src="../../assets/vendor/quill/dist/quill.min.js"></script>
    <script src="../../assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
    <script src="../../assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

    <!-- Optional JS -->
    <!-- Argon JS -->
    <script src="~/assets/js/argon.min9f1e.js?v=1.1.0"></script>
    <!-- Demo JS - remove this in your project -->
    <script src="~/assets/js/demo.min.js"></script>
    <script>
        // Facebook Pixel Code Don't Delete
        ! function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', '../../../../connect.facebook.net/en_US/fbevents.js');

        try {
            fbq('init', '111649226022273');
            fbq('track', "PageView");

        } catch (err) {
            console.log('Facebook Track Error:', err);
        }
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=111649226022273&amp;ev=PageView&amp;noscript=1" />
    </noscript>
    @*@RenderSection("Scripts", required: false)*@
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5dc164e5e4c2fa4b6bda12bd/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

</body>


<!-- Mirrored from demos.creative-tim.com/argon-dashboard-pro/pages/dashboards/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 17:01:45 GMT -->
</html>
