@model OnyeijeIgboAcademy.ViewModels.ChangePasswordViewModel


@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Change Password</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
             
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-wrapper">
                    <!-- Input groups -->

                    <div class="card">
                        <!-- Card header -->
                        <div class="card-header">
                            <h3 class="mb-0">Change Password</h3>
                        </div>
                        <!-- Card body -->
                        <div class="card-body">

                      
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-merge">
                                            <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password">
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-merge">
                                            <input asp-for="NewPassword" class="form-control" placeholder="New Password">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group input-group-merge">
                                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            


                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </form>
</div>




